header{
    background-color:purple;
    color:cornsilk;
    text-align: center;
}


footer{
    background-color:purple;
    color:cornsilk;
    text-align: right;
    padding: 10px 30px;
    text-decoration: none;
}


ul, ol{
    list-style: none;
}


nav > li{
    display: inline-block;
}
nav li a{
    background-color: rgb(69, 4, 62);
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
}
nav li a:hover{
    background-color: #434343;

}
nav li a:hover{
    background-color: 434343;
}
nav> li{
    float:left;
}
nav li ul{
    display:none;
    position:absolute;
    min-width: 40px;

}


